
   body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

section {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1.title {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    border-radius: 50%;
}

hr {
    border: 0;
    border-top: 1px solid #f4f4f4;
    margin: 20px 0;
}


@media screen  and (max-width: 700px) {

    .perf{
        display: none;
    }
    
}